$primaryColor: var(--text-primary-color);
$primaryElementBg: var(--bg-element-primary);
@mixin baseTranform {
	transition: all 0.4s ease 0s;
}
// css default > 1024px

.wrapper {
	&:before {
		background: linear-gradient(
			163deg,
			#1f1d2b 21%,
			rgba(31, 29, 43, 0.3113620448179272) 64%
		);
	}
}
.container {
	box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
}

@keyframes animation-logo {
}
.sidebar,
.sidebar .mini-logo {
	@include baseTranform;
}
.sidebar {
	.logo {
		transition: all 0.4s linear 0s;
	}
	.logo-img {
		transform: rotateX(25deg) translateX(-2px) translateY(4px);
	}
	.tabs-item + .tabs-item {
		margin-top: 24px;
	}
	.tabs-item .tabs-item-active {
		color: white;
	}
	.seperate::before {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.header {
	.search {
		transition: all 0.4s linear 0s;
		box-shadow: 0 0 0 2px rgb(134 140 160 / 2%);
	}
	.setting {
		transition: all 0.4s linear 0s;
		min-width: 200px;
		.notify {
			color: var(--body-color);
			.dot {
				top: -13px;
				right: -11px;
			}
		}
	}
}

//>=tablet and large screnn
@media (max-width: 1024px) {
	.sidebar {
		width: auto;
		width: 96px !important;
		align-items: center;
		padding-top: 32px !important;
		border: 0.5px solid var(--bg-element-primary);
		border-left-color: transparent;
		border-top-color: transparent;
		border-bottom-color: transparent;
		.tabs-item-name,
		.tabs-title,
		.logo {
			display: none;
		}
		.mini-logo {
			display: flex;
		}
		.sidebar-trick {
			padding: 0px 0 !important;
		}
	}
}

//<= mobile and tablet mini
@media (max-width: 639px) {
	.wrapper {
		padding: 0 !important;
		.container {
			height: 100vh;
			border-radius: 0;
		}
		.header,
		.children {
			padding: 0 16px;
		}
		.header {
			padding-top: 32px;
			padding-bottom: 32px;
		}
	}
	.sidebar {
		padding: 16px !important;
		// box-sizing: border-box !important;
		padding-top: 32px !important;
		width: 64px !important;
		align-items: center;
		.tabs-item + .tabs-item {
			margin-top: 16px;
		}
	}
	.setting {
		min-width: auto !important;
	}
	.header .setting {
		margin-left: 12px;
		.name,
		.notify,
		.setting-more {
			display: none;
		}
	}
}
